@import url('https://fonts.googleapis.com/css2?family=Poppins:wight@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    line-height: 1.5;
}
#bg{
    background-image: url(https://images.unsplash.com/photo-1574629174070-63e3564b1916?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJvb2slMjAxMDAwcHh8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}
label.logo{
    padding: 0 00px;
    width: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
.logo-lb{
    margin: 0 100px;
    padding: 40px;
}
.biblio{
    width: 400px;
    height: 300px;
    margin: 0 120px;
    padding: 20px;
}
h1{
    width: 600px;
    margin: 0 120px;
    color: white;
    padding: 20px;
    font-size: 30;
}
.search-box{
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
} 
.search-btn{
    float: right;
    border-radius: 50%;
    color: #fff;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    }
    .search-txt{
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        width: 0px;
    }
.container{
    max-width: 1300px;
    width: 90%;
    height: auto;
    margin: 30px auto;
    border: 1px solid #333;
    display: grid;
grid-template-columns: repeat(auto-fill,300px);
justify-content: center;
grid-gap: 10px;
}
.book{
width: 300px;
height: 200px;
background: #333;
}
.login-page{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;
}
input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0 ,0 ,0 ,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}
input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}
input[type=submit]:hover{
    opacity: 0.7;
    background: #094987;
}
.form .message{
    margin: 15px 0 0;
    font-size: 12px;
}
.form button:hover, .form button:active{
    background: #094987;
}
.form .message a{
color: #60adde;
text-decoration: none;
}
.form .register-form{
    display: none;
}
.img-main{
    width: 150;
    height: 150;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .container-main {
    background-color:#094987;
    border:#2196F3;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .category-head{
      margin: 30px 0;
  }
  .category-head ul{
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }
  .category-title{
      flex: 0 0 calc(16.6667% - 10px);
      display: flex;
      justify-content: center;
      background: #a8a8a8;
      padding: 12px;
      color: #fff;
      margin: 5px;
      cursor: pointer;
      transition: all 0.4 ease;
  }
  .category-title:hover{
    opacity: 0.7;
      }
      .category-title li{
          padding: 0 10px;
      }
      .category-title span{
          color: #222;
  }
  img{
      width: 100%;
  }
.main-container{
    width: 90vw;
    margin: 0 auto;
    padding: 40px 0;
}
.main-container > h2{
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
}
.main-container > p{
    font-weight: 300;
    padding: 10px 0;
    opacity: 0.7;
    text-align: center;
}
.category-head ul{
list-style-type: none;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}
/** single post **/
.posts-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.posts-main-container > div{
box-shadow: 0px 8px 22px -12px rgba(0 ,0 ,0 ,0.64);
}
.post-img{
    position: relative;
}
.category-name{
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 4px, 10px;
    border-radius: 2px;
}
.business .category-name{
    background: #00a7ea;
}
.finance .category-name{
    background: #2c2a4a;
}
.culture .category-name{
    background: #f03250;
}
.sports .category-name{
    background: #a1e44d;
}
.politics .category-name{
    background: #f0544f;
}
.post-content{
    padding: 25px;
}
.post-content-top{
    background: #80ced7;
    color: #fff;
    opacity: 0.8;
    padding: 5px 0 5px 15px;
}
.post-content-top span{
    padding-right: 20px;
}
.post-content h2{
    font-size: 22px;
    padding: 12px 0;
    font-weight: 400;
}
.post-content p{
    opacity: 0.7;
    font-size: 15px;
    line-height: 1.8;
}
.read-btn{
    border: none;
    padding: 8px 15px;
    display: block;
    margin: 5px auto;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: transparent;
    margin-bottom: 40px;
}
/***********/
@media(
    max-width: 1170px){
        .posts-main-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media(
        max-width: 768px){
            .posts-main-container {
                grid-template-columns: 1fr;
            }
        }
/***********/
.active{
    background: #f0544f;
}
.img-logo{
    width: 225px;
    height: 212px;
}
.footer{
    background-color: #094987;
    padding: 70px 0;
}
.container-footer{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
} 
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255 ,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/*responsive*/
@media (max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
.p-footer{
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
}
.svg-inline--fa.fa-w-9{
    margin-top: 9px;
}
.svg-inline--fa.fa-w-16{
    margin-top: 9px;
}
.svg-inline--fa.fa-w-14{
    margin-top: 9px;
}
:root {
    --secondary-color: #151226;
    --contrast-color: #094987 ;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: var(--contrast-color);
  }
  
  .container-1 {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    animation: expand .8s ease forwards;
    background-color: var(--secondary-color);
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .8s ease;
  }
  
  .container_content {
   width: 50%;
  }
  
  .container_content_inner {
    width: 80%;
    margin-left: 80px;
  }
  
  .container_outer_img {
    margin: 50px;
    width: 50%;
    overflow: hidden;
  }   
      
  .container_img {
    width: 100%;
    animation: slideIn 1.5s ease-in-out forwards;
  }
  
  .par {
    height: auto;
    overflow: hidden;
  }
  
  p{
    line-height: 28px;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
    color: #fff;
  }
  
  .btns {
    height: 100%;
    position: relative;
    width: 150px;
    overflow: hidden;
  }
  
  .btns_more {
    background: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 50px;
    padding: 8px 12px;
    color: #094987;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-top: 15px;
    outline: none;
    transform: translateY(50px);
    animation: slideUp .8s ease-in-out  forwards 1s;
  }
  
  .title {
    height: auto;
    margin-top: 358px;
  }
  
  h1 {
      font-size: 40px;
      color: var(--contrast-color);
      margin-bottom: 20px;
      transform: translateY(100px);
      animation: slideUp .8s ease forwards .5s;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  